/* Base styles */
@font-face {
	font-family: "Limkin";
	src: url('/assets/fonts/limkin.ttf');
	font-weight: 100 900;
}
@font-face {
	font-family: 'Monaspace';
	src: url('assets/fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].ttf');
	font-weight: 200 800;
}
@font-face {
	font-family: 'Material Symbols';
	src: url('/assets/fonts/MaterialSymbolsSharp-VariableFont_FILL\,GRAD\,opsz\,wght.ttf') format('truetype');
	font-weight: 100 700;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--black: #353535;
	--black2: #282828;
	--black3: #1b1b1b;
	--black4: rgb(17,17,17);
	--white: #e5e5e5;
	--primary: var(--white);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: var(--black4);
	color: var(--primary);
	font-family: "Limkin", sans-serif;
	font-weight: 400;
	font-variation-settings: "wght" 400, "SRFF" 0;
}
.symbol {
	font-family: "Material Symbols";
	transform: translateY(-.1em);
	font-variation-settings: "FILL" 0, "GRAD" 100, "opsz" 20, "wght" 400;
}

/* Header */
.header {
	padding: 80px 0;
}
.header-title {
	font-size: 8vw;
	text-align: center;
	font-family: "Monaspace", monospace;
	letter-spacing: -0.05em;
	font-variation-settings: "wght" 700;
	color: var(--black4);
	padding: max(.2em, 40px) 0;
	line-height: 1em;
}
.header-title > span {
	color: var(--primary);
	display: inline-flex;
	flex-direction: column;
	overflow: hidden;
	height: 1.2em;
}
.header-title > span:nth-child(even) > span {
	animation-direction: reverse;
}
.header-title > span > span {
	display: inline-block;
	animation: header-title-letter 5s infinite linear;
	animation-delay: 1s;
	padding: .2em 0;
}
@keyframes header-title-letter {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(-100%);
	}
}
.header-desc {
	line-height: 1.4em;
	font-size: max(1.5vw, 18px);
	font-variation-settings: "wght" 200, "SRFF" 0;
	text-align: center;
	padding: 0 20px 40px 20px;
}
.header-desc a {
	color: var(--white);
	text-decoration: 1px underline;
	text-underline-offset: .2em;
	transition: opacity .2s;
}
.header-desc a:hover {
	opacity: .75;
}
.header-desc a:active {
	opacity: .5;
}

/* Projects */
.projects {
	width: 100%;
}
.project[data-rating="0"] {
	--primary: var(--pink);
}
.project[data-rating="1"] {
	--primary: var(--green);
}
.project[data-rating="2"] {
	--primary: var(--blue);
}
.project[data-rating="3"] {
	--primary: var(--yellow);
}
.project[data-rating="4"] {
	--primary: var(--purple);
}
.project[data-rating="5"] {
	--primary: var(--red);
}

/* Project ratings */
.project[data-rating="0"] .project-link-info-rating-list div:nth-child(1) {
	background-color: var(--primary);
}
.project[data-rating="1"] .project-link-info-rating-list div:nth-child(1),
.project[data-rating="1"] .project-link-info-rating-list div:nth-child(2) {
	background-color: var(--primary);
}
.project[data-rating="2"] .project-link-info-rating-list div:nth-child(1),
.project[data-rating="2"] .project-link-info-rating-list div:nth-child(2),
.project[data-rating="2"] .project-link-info-rating-list div:nth-child(3) {
	background-color: var(--primary);
}
.project[data-rating="3"] .project-link-info-rating-list div:nth-child(1),
.project[data-rating="3"] .project-link-info-rating-list div:nth-child(2),
.project[data-rating="3"] .project-link-info-rating-list div:nth-child(3),
.project[data-rating="3"] .project-link-info-rating-list div:nth-child(4) {
	background-color: var(--primary);
}
.project[data-rating="4"] .project-link-info-rating-list div:nth-child(1),
.project[data-rating="4"] .project-link-info-rating-list div:nth-child(2),
.project[data-rating="4"] .project-link-info-rating-list div:nth-child(3),
.project[data-rating="4"] .project-link-info-rating-list div:nth-child(4),
.project[data-rating="4"] .project-link-info-rating-list div:nth-child(5) {
	background-color: var(--primary);
}
.project[data-rating="5"] .project-link-info-rating-list div:nth-child(1),
.project[data-rating="5"] .project-link-info-rating-list div:nth-child(2),
.project[data-rating="5"] .project-link-info-rating-list div:nth-child(3),
.project[data-rating="5"] .project-link-info-rating-list div:nth-child(4),
.project[data-rating="5"] .project-link-info-rating-list div:nth-child(5),
.project[data-rating="5"] .project-link-info-rating-list div:nth-child(6) {
	background-color: var(--primary);
}

/* Project links */
.project-link {
	display: grid;
	gap: 1px;
	grid-template-columns: max(5vw, 40px) 1fr;
	background-color: var(--black4);
	cursor: pointer;
	transition: opacity .2s, background-color .2s;
}
.project-link:hover {
	background-color: var(--black);
}
.project-link:active {
	opacity: .5;
}
.project[data-active="1"] .project-link {
	background-color: var(--black);
}
.project-link-number {
	outline: 1px solid var(--black3);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Monaspace", monospace;
	font-size: max(1vw, 14px);
	font-variation-settings: "wght" 700;
	color: var(--primary);
	transition: background-color .2s;
	background-color: var(--black4);
}
.project-link:hover .project-link-number {
	background-color: var(--black3);
}
.project[data-active="1"] .project-link-number {
	background-color: var(--primary);
	color: var(--black3);
}
.project-link-content {
	display: flex;
	flex-direction: column;
	gap: 1px;
	outline: 1px solid var(--black3);
	overflow: hidden;
}
.project-link-title-container {
	font-size: max(2.5vw, 32px);
	display: flex;
	white-space: nowrap;
	overflow-x: hidden;
	width: 100vw;
	padding: 20px 0;
}
.project:nth-child(even) .project-link-title {
	animation-direction: reverse;
}
.project-link-title {
	width: min-content;
	animation: marquee 10s linear infinite;
	font-size: inherit;
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 0 .5em;
}
@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
.project-link:hover .project-link-title {
	animation-play-state: paused;
}
.project-link-title-file {
	color: var(--primary);
	padding: .2em .4em .1em .4em;
	font-size: .8em;
	font-family: "Monaspace", monospace;
	letter-spacing: -0.02em;
	border-radius: 4px;
	font-variation-settings: "wght" 700;
	border: 1px solid var(--primary);
	transition: color .2s, background-color .2s;
}
.project-link:hover .project-link-title-file {
	color: var(--black);
	background-color: var(--primary);
}
.project[data-active="1"] .project-link-title-file {
	color: var(--black);
	background-color: var(--primary);
}
.project-link-title-desc {
	color: var(--white);
	opacity: .25;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 650, "SRFF" 0;
	transition: opacity .2s;
}
.project-link:hover .project-link-title-desc {
	opacity: 1;
}
.project[data-active="1"] .project-link-title-desc {
	opacity: 1;
}

/* Project info */
.project-link-info {
	display: flex;
	gap: 20px;
	padding: 0 20px;
	align-items: center;
	font-size: 12px;
	height: 0;
	opacity: 0;
	transition: height .2s;
	overflow-x: scroll;
	white-space: nowrap;
	background-color: var(--black2);
}
.project-link-info::-webkit-scrollbar {
	display: none;
}
.project-link:hover .project-link-info {
	height: 40px;
	opacity: 1;
}
.project[data-active="1"] .project-link-info {
	height: 40px;
	opacity: 1;
}
.project-link-info-divider {
	height: 20px;
	width: 1px;
	flex-shrink: 0;
	background-color: var(--black3);
}
.project-link-info-title {
	font-size: inherit;
	letter-spacing: 0.05em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	text-transform: uppercase;
	color: var(--white);
	padding-top: .15em;
	line-height: 1em;
}
.project-link-info-rating {
	display: flex;
	gap: 10px;
	align-items: center;
}
.project-link-info-rating-list {
	display: flex;
	gap: 4px;
	align-items: center;
}
.project-link-info-rating-list div {
	width: 1.25em;
	height: 1.25em;
	border: 1px solid var(--primary);
	aspect-ratio: 1/1;
	border-radius: 4px;
}
.project-link-info-rating-list div[data-active="1"] {
	background-color: var(--primary);
}
.project-link-info-tags {
	display: flex;
	gap: 10px;
	align-items: center;
}
.project-link-info-tags-list {
	display: flex;
	gap: 4px;
	align-items: center;
}
.project-link-info-tags-list div {
	border-radius: 4px;
	font-variation-settings: "wght" 500, "SRFF" 0;
	background-color: var(--black3);
	font-size: 14px;
	color: var(--primary);
	padding: 4px 6px 2px 6px;
}

/* Project content */
.project-details-container {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .5s;
	background-color: var(--black3);
}
.project[data-active="1"] .project-details-container {
	max-height: 200dvh;
}
.project-details {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 80px;
	padding: 80px;
}
.project-details-info {
	font-weight: 300;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-size: 24px;
	letter-spacing: -0.02em;
	line-height: 1.4em;
	display: flex;
	flex-direction: column;
	gap: .7em;
	margin-bottom: 1.4em;
	text-wrap: pretty;
}
.project-details-links {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-wrap: wrap;
	font-family: "Monaspace", monospace;
	letter-spacing: 0.05em;
	font-variation-settings: "wght" 700;
	text-transform: uppercase;
}
.project-details-links a {
	border-radius: 4px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 18px;
	text-decoration: none;
	border: 1px solid var(--primary);
	padding: 10px 10px 7px 10px;
	line-height: 1em;
	color: var(--primary);
	font-variation-settings: "wght" 700;
	transition: opacity .2s, color .2s, background-color .2s;
}
.project-details-links a:hover {
	background-color: var(--primary);
	color: var(--black3);
}
.project-details-links a:active {
	opacity: .5;
}
.project-details-preview {
	width: 100%;
	aspect-ratio: 16 / 9;
	border: 1px solid var(--primary);
	background-color: white;
	border-radius: 4px;
}
@media only screen and (max-width: 1200px) {
	.project-details {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 1000px) {
	.project-details {
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 800px) {
	.project-details {
		padding: 40px;
		gap: 40px;
	}
	.project-details-info {
		font-size: 18px;
	}
	.project-details-links a {
		font-size: 14px;
	}
}

/* Footer */
.footer {
	padding: 160px 80px;
	font-size: 14px;
	text-align: center;
	opacity: .25;
	line-height: 1.4em;
	transition: opacity .2s;
	text-wrap: pretty;
}
.footer:hover {
	opacity: 1;
}
.footer a {
	color: var(--white);
	text-decoration: 1px underline;
	text-underline-offset: .2em;
	transition: opacity .2s;
}
.footer a:hover {
	opacity: .75;
}
.footer a:active {
	opacity: .5;
}